@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* VARIABLES */
$theme-dark: #25252a;
$theme-light: #474E68;
$theme-accent: #6B728E;
$theme-text: #ffffff;
$main-padding: 0 5%;

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100vh;
  color: $theme-text;
}

/* GLOBAL CLASSES */
body {
  background-color: $theme-dark;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 2%;
}

a {
  text-decoration: none;
  color: white;
}

.main-padding {
    padding: $main-padding;
}

/* CUSTOM CLASSES */


footer {
  p {
    font-size: 12px;
    
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}